<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GST Automation</title>
</head>

<body>

    <h1>scrapping and saving data done😎</h1>
    <i>Page links</i><br>
    <ol>
        <li><a href="/vendor-profile">Vendor Profile</a><br><br></li>
        <li><a href="/product-upload">Product upload</a><br><br></li>
        <li>
            <a href="/admin">Admin</a>
            <details>
                <summary>Username</summary>
                <p>admin</p>
            </details>
            <details>
                <summary>Password</summary>
                <p>admin</p>
            </details>
            <br>
        </li>

    </ol>

</body>

</html>